<h1>Deskripsi Recipe</h1>

<form action="/api/recipe/deskripsirecipe" method="get">
    <input type="text" name="q" >Nama
    
    <input type="submit" value="Search" >
</form>

<form action="/api/recipe/deskripsiingredient" method="get">
    <input type="text" name="q" >Nama
    <input type="text" name="ingr" >Jumlah Bahan
    
    
    <input type="submit" value="Find" >
</form>