<h1>Deskripsi Diet</h1>

<form action="/api/diet/deskripsidiet" method="get">
    <input type="text" name="q" >Nama
    <input type="text" name="ingr" >Jumlah Bahan
    <h3>Jenis diet: balanced,high-fiber,high-protein,low-carb,low-fat,low-sodium</h3>
    <input type="text" name="diet" >Jenis Diet
    
    
    <input type="submit" value="Search" >
</form>

<form action="/api/diet/kaloridiet" method="get">
    <input type="text" name="q" >Nama
    <input type="text" name="ingr" >Jumlah Bahan
    <h3>Jenis diet: balanced,high-fiber,high-protein,low-carb,low-fat,low-sodium</h3>
    <input type="text" name="diet" >Jenis Diet
    <input type="text" name="calories" >Jumlah Kalori
    
    
    <input type="submit" value="Find" >
</form>

